[Unit]
Description=Apache CouchDB
After=network.target remote-fs.target

[Service]
User=couchdb
Group=couchdb

ExecStart=%bindir%/couchdb -o /dev/stdout -e /dev/stderr

Restart=on-failure
RestartSec=5
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
