[Unit]
Description=Riak KV Database

[Service]
User=riak
ExecStart=/usr/lib/riak/bin/riak foreground
ExecStop=/usr/lib/riak/bin/riak stop
Type=simple
EnvironmentFile=-/etc/default/riak
RuntimeDirectory=riak

[Install]
WantedBy=multi-user.target
