[Unit]
Description=Livebook

[Service]
User=livebook
Group=livebook
EnvironmentFile=/etc/livebook.conf
WorkingDirectory=/var/lib/livebook
ExecStart=/usr/lib/livebook/bin/livebook start 
ExecStop=/usr/lib/livebook/bin/livebook stop

[Install]
WantedBy=multi-user.target
